# node modules
node_modules

# npm / yarn
.npmignore
.npmrc
.yarnrc

# config files
.babel*
.eslint*
.flowconfig
.prettierrc
.travis.yml
.vscode

# examples files
examples

# flow
flow-typed

# test files
test

# source files
src


# git
.git*

# logs
*.log